* {
  box-sizing: border-box;
}


*:focus {
  outline: none;
}

body {
  font-family: Arial;
}

.login {
  margin: 20px auto;
  width: 500px;
}
.login-screen {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.login-link{
  margin-left: auto;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1200px;
}

.app-title {
  text-align: center;
  color: #777;
}

/* .login-form {
  text-align: center;
} */
.control-group {
  margin-bottom: 10px;
}

input {
  /* text-align: center; */
  background-color: #ecf0f1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 450px;
}

input:focus {
  border: 2px solid #3498db;
  box-shadow: none;
}

/* .btn {
  border: 2px solid transparent;
  background: #3498db;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  margin: 10px auto;
  width: 150px;
} */

.btn:hover {
  background-color: #2980b9;
}

.login-btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signup-link{
  display: block;
  color:#777;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*----------------DISPLAY RECIPE PAGE-------------------*/
.t-container {
  margin: 0 auto;
  width: 800px;
}

.t-heading {
  background-color: #34495e;
}

th {
  color: white;
}

.clickable-row {
  cursor: pointer;
}

/*----------------ADD RECIPE PAGE-------------------*/
.simple-input {
  text-align: center;
  background-color: #ecf0f1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  margin: 10px 0;
  padding: 10px 0;
  width: 450px;
}

.addrec-container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

#searchBar h1 {
  font-size: 24px;
}
.home {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.error-404{
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
}

footer{
  /* padding-left: 10%; */
  background-color: #212529;
  color: #fff;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

footer p{
  padding-top: 15px;
  margin-left: 5%;
}