<!--INPUT RECIPES-->

{% extends "base.html" %} {% block content %}
<div class="addrec-container">
  <h1>Add Recipe</h1>
  <form action="" class="recipe-form">
    <input type="text" placeholder="Enter Food" class="simple-input" /><br />
    <input type="text" placeholder="Enter Units" class="simple-input" /><br />
    <input
      type="text"
      placeholder="Enter Quantity"
      class="simple-input"
    /><br />
    <button type="button" class="btn btn-success">Add</button>
  </form>
</div>

{% endblock %}
