<!--INPUT RECIPES-->

{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/add_recipe.css" />
{% endblock %}

{% block content %}
<div class="container">
  <h1>Add Recipe</h1>
  {% include 'flash_messages.html' %}
  <form action="{{ url_for('user.add_recipe') }}" class="recipe-form mb-3" method="post" enctype="multipart/form-data">
    <input type="text" class="form-control simple-input" name="name" id="recipe-name" placeholder="Enter Recipe Name" aria-describedby="recipe name input field">
    <input type="file" class="form-control simple-input" name="photo" id="image">

    <div class="recipe-method">
      <div class="ingredients-col">
        <div class="label-div m-3">
          <label class="form-label">Ingredients</label>
          <button type="button" id="add-ingredient" class="btn btn-primary btn-sm add"><i class="fas fa-plus"></i></button>
        </div>
        <div id="ingredients">
          <div class="ingredient mb-3">
            <input type="number" class="form-control quantity" placeholder="Amount" value="0">
            <select name="units" class="form-select units">
              <option value="lb">lb</option>
              <option value="cup">cup</option>
              <option value="g">g</option>
            </select>
            <select name="ingredient" class="form-select">
              <option value="1">Rice</option>
              <option value="2">Pop Choi</option>
              <option value="3">Chicken</option>
            </select>
            <button type="button" class="btn btn-outline-primary btn-sm delete" onclick="deleteIngredientDiv(event)"><i class="fas fa-trash"></i></button>
          </div>
        </div>

      </div>
      
      <div class="instruction-col">
        <div class="label-div m-3">
            <label class="form-label">Instructions</label>
            <button type="button" id="add-instruction" class="btn btn-primary btn-sm add"><i class="fas fa-plus"></i></button>
          </div>
          <div id="instructions" class="mb-3">
            <div class="instruction mb-3">
              <input type="number" class="form-control step" placeholder="Step">
              <input type="text" name="instruction" placeholder="Enter instruction" class="form-control">
              <button type="button" class="btn btn-outline-primary btn-sm delete" onclick="deleteInstructionDiv(event)"><i class="fas fa-trash"></i></button>
            </div>
          </div>
        </div>
      </div>
    
   <button id="add-recipe-btn"  name="submit" class="btn btn-success add-btn">Add</button>
  </form>
</div>

{% endblock %}

{% block js %}

<script src="/static/js/addRecipe.js"></script>

{% endblock%}
