<!--INPUT RECIPES-->

{% extends "base.html" %} {% block content %}
<div class="addrec-container">
  <h1>Add Recipe</h1>
  <form action="{{ url_for('user.add_recipe') }}" class="recipe-form" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.name(**{"class":"form-control simple-input", "id":"recipe-name", "type":"text", "placeholder":"Enter Recipe Name", "aria-describedby":"recipe name input field"}) }}
    {{ form.photo(**{"class":"form-control simple-input", "id":"image", "type":"file", "aria-describedby":"recipe image"}) }}
   <button type="submit" name="submit" class="btn btn-success">Add</button>
  </form>
</div>

{% endblock %}
